html, body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    scroll-behavior: smooth;
    overflow: hidden;
  }
  
  h1 {
    letter-spacing: -15px;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    line-height: 200px;
  }
  
  .MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .ContentContainer {
    position: relative;
    display: block;
    background-color: black;
    color: whitesmoke;
    z-index: 1;
    font-family: monospace;
    font-weight: bold;
  }
  
  .Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
  }
  
  p {
    margin: 75px 0;
  }
  
  .ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url(https://source.unsplash.com/vs6a4EHj_Ro/1600x900);
    background-color: rgb(250,228, 216);
  }
  
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
  