.text-dark {
  color: #000 !important;
}

.darkmode--activated .btn-outline-light-1 {
  color: rgb(0, 0, 0);
}

.btn-custom-1 {
  background-color: #0093e9;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0093e9),
    to(#80d0c7)
  );
  background-image: linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
}

button {
  isolation: isolate;
}

.btn-outline-light-1 {
  border: 2px solid #80d0c7;
  color: #000;
}

.btn-outline-light-1:hover {
  background-color: #0093e9;
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0093e9),
    to(#80d0c7)
  );
  background-image: linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
}

.bg-custom {
  background-color: #0093e9;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0093e9),
    to(#80d0c7)
  );
  background-image: linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
}
.bg-custom1 {
  background-color: #0093e9;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0093e9),
    to(#80d0c7)
  );
  background-image: linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
  padding: 15px;
  height: 200px;
  width:550px;
  margin:30px;
}
.border-gradient {
  border-radius: 50px;
  /*1*/
  border: 10px solid transparent;
  /*2*/
  background: linear-gradient(45deg, #80d0c7, #0093e9) border-box;
  /*3*/
  -webkit-mask-composite: exclude;
  mask-composite: exclude;
  /*5*/
}
#footer {
  width: 100%;
}
.darkmode-ignore {
  display: block !important;
  position: inherit;
  bottom: 4%;
}

#style-8::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
.darkmode-toggle {
  z-index: 100;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(
    (0.44, rgb(122, 153, 217)),
    (0.72, rgb(73, 125, 189)),
    (0.86, rgb(28, 58, 148))
  );
}
.footer-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-card a {
  font-weight: bolder;
  text-decoration: none;
  transition: 0.3s ease;
  letter-spacing: 0px;
}

.darkmode-toggle {
  z-index: 100;
}
.footer-card a:hover {
  letter-spacing: 2px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .grid-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .grid-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .grid-container{
    grid-template-columns: repeat(4, 1fr);
  }
}