
img {
    display: block;
    width: 100%;
    height: auto;
  }
.skill_container {
    position: relative;
  }
  
  .skillbox {
    position: relative;
    width: 90%;
    top: -15%;
    left: 4%;
    display: inline-block;
  }
  
  .skillbox p{
    font-family:'Poppins', sans-serif;
    margin-left: 3%;
    font-size: 24px;
    font-weight: 500;
  }
  .container {
    margin-left: 7%;
    width: 80%;
    height: 10px;
    background-color: #747474;
    border-radius: 15px;
    margin-bottom: 5%;
  }
  
  #fe-bar {
    width: 0%;
    height: 10px; 
    border-radius: 15px;
    background: linear-gradient(86deg, rgba(66,133,244,1) 0%, rgba(1,166,240,1) 100%);
    animation: animateskillbar1 1s 2s cubic-bezier(1,0,0.5,1) forwards;
  }
  
  @keyframes animateskillbar11{
    0%{
      width: 0%;
    }
    100%{
      width: 85%;
    }
  }
  @keyframes animateskillbar1{
    0%{
      width: 0%;
    }
    100%{
      width: 0%;
    }
  }
  
  
  #be-bar{
    width: 0%;
    height: 10px; 
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(234,67,53,1) 0%, rgba(243,79,28,1) 100%);
    animation: animateskillbar2 1s 2s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animateskillbar22{
    0%{
      width: 0%;
    }
    100%{
      width: 40%;
    }
  }
  @keyframes animateskillbar2{
    0%{
      width: 0%;
    }
    100%{
      width: 0%;
    }
  }
  
  
  #cp-bar{
    width: 0%;
    height: 10px; 
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(52,168,83,1) 0%, rgba(127,188,0,1) 100%);
    animation: animateskillbar3 1s 2s cubic-bezier(1,0,0.5,1) forwards;
    }
    @keyframes animateskillbar33{
      0%{
        width: 0%;
      }
      100%{
        width: 65%;
      }
    }
    @keyframes animateskillbar3{
      0%{
        width: 0%;
      }
      100%{
        width: 0%;
      }
    }
    
  
  #uiux-bar{
    width: 0%; 
    height: 10px; 
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(251,188,5,1) 0%, rgba(255,186,1,1) 100%);
    animation: animateskillbar4 1s 2s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animateskillbar44{
    0%{
      width: 0%;
    }
    100%{
      width: 80%;
    }
  }
  @keyframes animateskillbar4{
    0%{
      width: 0%;
    }
    100%{
      width: 0%;
    }
  }