body{
    padding: 0;
    margin: 0;
}

.container{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#50e388, #2e2ea1);
}

h2{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    margin: 0;
    transition: 2s;
}

h2:hover {
    transition: 2s;
    font-size: 70px;
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color:transparent;
    border: 15px solid white;
    border-radius: 50%;
    animation:animate 10s linear infinite;
}

.box div:nth-child(1){
    top: 20%;
    left: 20%;
    animation:animate 16s linear infinite;
}

.box div:nth-child(2){
    top: 10%;
    left: 45%;
    animation:animate 9s linear infinite;
}

.box div:nth-child(3){
    top: 30%;
    left: 65%;
    animation:animate 10s linear infinite;
}

.box div:nth-child(4){
    top: 80%;
    left: 40%;
    animation:animate 12s linear infinite;
}

.box div:nth-child(5){
    top: 10%;
    left: 85%;
    animation: animate 11s linear infinite;
}

.box div:nth-child(6){
    top: 70%;
    left: 15%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(7){
    top: 65%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(8){
    top: 52%;
    left: 86%;
    animation: animate 14s linear infinite;
}

.box div:nth-child(9){
    top: 85%;
    left: 93%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(10){
    top: 45%;
    left: 0%;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100%{
        transform: scale(1.4) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}