.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:450px;
    width:300px;
    background:#000;
    border-radius:5px;
    overflow:hidden;
  }
  .cards{
    position:relative;
    height:350px;
    width:300px;
    background:red;
  }
  .card{
    position:absolute;
    top:0;
    width:150px;
    height:100%;
    overflow:hidden;
    background-image:url("https://images.unsplash.com/flagged/photo-1563536310477-c7b4e3a800c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
    transition:.5s;
    z-index:10;
  }
  .card1{
    left:0;
  }
  .card2{
    right:0;
    background-position:-150px 0;
  }
  .cards:hover .card1{
    transform:translateX(-150px);
  }
  .cards:hover .card2{
    transform:translateX(150px);
  }
  
  .name{
    position:absolute;
    top:350px;
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
    width:300px;
    padding:10px 20px;
    color:#c2c2c2;
  }
  .name span{
    font-size:30px;
    color:#fff;
    font-weight:bold;
  }
  
  .inside{
    position:absolute;
    left:0;
    top:0;
    color:#fff;
    height:100%;
    width:300px; 
  }
  .inside ul{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:10px 20px;
  }
  .inside li{
    list-style:none;
    padding:10px;
    width:80%;
    margin:5px;
    background:#000;
    border-radius:5px;
    text-align:center;
    transform:translateX(-250px);
    transition:.5s;
  }
  
  .cards:hover li{
    transform:translateX(0);
  }
  .cards:hover li:nth-child(2){
    transition-delay:.1s;
  }
  .cards:hover li:nth-child(3){
    transition-delay:.2s;
  }
  .cards:hover li:nth-child(4){
    transition-delay:.3s;
  }
  .cards:hover li:nth-child(5){
    transition-delay:.4s;
  }
  .cards:hover li:nth-child(6){
    transition-delay:.5s;
  }
  