body {
    overflow-x: hidden;
}

.paralax {
    position: absolute;
    height: 100%;
}

.paralax-item {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.p-item1 {
    background: url("images/m_1.png") center/cover no-repeat;
}

.p-item3 {
    background: url("images/m_3.png") bottom/100% no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.p-item4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 10000%;
    height: 100%;
    content: '';

    background-size: contain;
    background-position: center;
    animation: marquee 20s linear infinite;
}

/* .p-item4::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    height: 100%;
} */

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200vw, 0, 0);
    }
}

.container {
    position: relative;
    z-index: 1;

    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100vh;
}

.content-header {
    font-family: sans-serif;
    color: white;
    text-align: center !important;
    text-transform: uppercase;
    margin-right: -16%;

}

.content-header h1 {
    font-size: 115px;
    font-weight: 600;
    color: white;
    margin-bottom: -40px;
}

.content {
    width: 200px;
    height: auto;
    margin-right: 40px;
}