.evalbutton {
    margin-left: 42%;
    margin-right: 80%;
    margin-top: 0%;
    transition: ease all 0.5s;
  }
  
  .linkbutton {
    background: rgba(255, 255, 255, 0.1);
    width:120px;
    position: absolute;
    padding: 20px;
   top:50%;
    padding-right: 10px;
    margin-right: 2%;
    text-decoration: none;
    color: green;
    font-size: 1vw;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.5vw;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 2px 30px #42bd45;
    transition: ease all 0.5s;
  }
  
  .linkbutton:hover {
    box-shadow: 0px 5px 10px #ededed;
  }
  