.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.the-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.the-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #9880ff;
  animation: the-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes the-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}