 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}
section{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display:flex;
    align-items: center;
    background: linear-gradient(to bottom,#ff4f8b, #dff1ff);
}

section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
    /* border-top: 1px solid rgba(255, 255, 255, 0.5);  */
}

 section .color{
    position: absolute;
    filter: blur(120px);
}

section .color:nth-child(1){
     /* background:#eeaeca;  */
    width: 600px;
    height: 600px;
    top: -350px;
}

section .color:nth-child(2){
    background: #00d2ff;
    width: 500px;
    height: 500px;
    bottom: -150px;
    left: 100px;
}

section .color:nth-child(3){
    background: #ffdd87;
    width: 300px;
    height: 300px;
    bottom: 50px;
    right: 100px;
}

ul{
    position: relative;
    display: flex;
    z-index: 2;
}

ul li{
    position: relative;
    list-style: none;
    margin: 10px;
}

ul li a{
    position: relative;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);;
    backdrop-filter:blur(2px);
    transition: 0.5s;
    overflow: hidden;
}

ul li a:hover{
    transform: translateY(-20px);
}

ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}
ul li a:hover:before{
    transform: skewX(45deg) translateX(-150px);
} 
 
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    font-family: "Arial Black", sans-serif;
    font-size: 4.0em;
    letter-spacing: 1px;
    background-color: #ffffff;
    color: #666;
    position: relative;
     
}